*{padding: 0;
    margin: 0;
}




.contenedor1{
    width: 100vw;
    height: 100vh;
    /* border: 10px solid black; */
    background-image: url(https://daniel94cruz.github.io/Asesores-financieros1/resources/imagenFondo1.jpg);
    background-size:cover;

}

.logo_peque{
    width: 120px;
    height: 80px;
    position: relative;
    left: 75px;
    /* bottom: 10px; */
    
}
.contenedor_texto{
    width: 500px;
    height: 280px;
    /* border: 2px solid black; */
    position: relative;
    left: 50px;
    top: 90px;
}
h1{
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.imagen_AXIA{
    width: 250px;
    height: 175px;
    position: relative;
    left: 665px;
    bottom: 140px;

}
.contenedor2{
    width: 100vw;
    height: 100vh;
    /* border: 10px solid black; */
    background-image: url(https://daniel94cruz.github.io/Asesores-financieros1/resources/imagen2.png);
    background-size:cover;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    

}
.h1_expertos{
    color:blue;
    border: 5px solid black;
    margin: 0;
    width: 100%;
    height: 50px;
    flex-grow: 1;
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #04102b;

    

}

.img_daniel{
    width: 250px;
    height: 200px;
    /* border: 1px solid black; */
    
    margin-left: 20%;

    
}

.img_leydy{
    width: 250px;
    height: 200px;
    border: 1px solid black;
   
    margin-right: 20%;
}

.parrafo_daniel{
     color: blue;
     font-size: 10px;
     font-style: oblique;
     width: 210px;
     border: 5px solid black;
     height: 120px;
    color: #04102b;
  


}

.parrafo_leydy{
    color: blue;
    font-size: 10px;
    font-style: oblique;
    width: 210px;
    border: 5px solid black;
    height: 100px;
    color: #04102b;
    padding-left: 30px;
    
   
}


.contenedor3{
    width: 100vw;
    height: 100vh;
    background-image: url(https://daniel94cruz.github.io/Asesores-financieros1/resources/fondo3.png);
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    outline:2px solid #000456;
    
}
.formulario{
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    flex-direction: column;
    background-color: white;
    justify-content: center;
   text-align: center;
    
    
   
}

input{
    width: 270px;
    height: 30px;
    border-radius: 5px;
    background-color: #000456;
    margin: 5px;
    color:white;
}

input.boton{
    width:100px;
    color:#04102b;
    background-color: white;
    font-weight: bold;
}
::placeholder {
    color: #fff; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
    




input:focus{
    background-color:#333;
    outline: none;
}

.contenedor_izquierda{
    width: 50%;
    height: 80%;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content:space-around

   
}

.h1_contactanos{


margin-left: 10px;
border: 2px solid white;
width: 185px;
border-radius: 5px;
padding-left: 5px;
padding-right: 5px;

border-color: #fcfcfc;

}
.parrafo3{
   
    width: 50%;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
   
}

span{
    color:#04102b;
    display: block;
    width: 200px;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-left: 50px;
    

}

h1.masInfo{
    color: #04102b;
    font-size: 20px;
    height: 30px;
    border-radius: 5px;
    width: 300px;
    background-color: #B4B9CD;
    line-height: 30px;
    text-align: center;
    position: relative;
    left: 600px;
    bottom: 60px;
    
}










.contenedor4{
    width: 100vw;
    height: 50vh;
    background-image: url(https://daniel94cruz.github.io/Asesores-financieros1/resources/imagenFondo4.jpg);
    border:1px solid #000456;
    background-size:cover;
    display: flex;
}

div.cont-ultimo{
    border: 2px solid green;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 20px;
}
h1.quienes{
    border:2px solid white;
    border-radius: 5px;
    width: 45%;
    text-align: center;

}
p.parrafo_final{
    width: 50%;
}


div.contenedor_derecho{
    width: 50%;
    display: flex;
    border: 2px solid white;
    
}
div.imagenes_redesSociales{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.imag_ubicacion{
    width: 60px;
    height: 230px;
}

div.clase_datos{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    align-items:flex-start;
   

}

span.datos{
    width: 80%;
    color: white;
    
    margin: 0;
}

/* responsive celular */ 
@media (max-width: 391px) {
    .logo_peque{
        width: 100px;
        height: 80px;
        left: 150px;
        top:10px;
       
        
    }
    .contenedor_texto{
        width: 200px;
        height: 200px;
        left: 50px;
        top: 90px;
        font-size: 5px;
    }
    p{
        font-size: 17px;
    }


    .imagen_AXIA{
        display: none;
    }

    .h1_expertos{
        width: 65px;
        font-size: 15px;


    }
    .img_daniel{
        width: 150px;
        height: 180px;
        margin-left: 1px;
        margin-top: 40px;
        margin-bottom: 30px;
        
        
    }

    
    .img_leydy{
        width: 150px;
        height: 170px;
        margin-left: 130px;
        margin-bottom: 30px;
        
    }

    .parrafo_daniel{
     margin-bottom: 40px;
     font-size: 8px;
    }

    .parrafo_leydy{
        margin-left: 10px;
        font-size: 8px;
    }

    .contenedor_izquierda{
        width: 100%;
        height: 30%;
    }
    h1.quienes{
        width: 90%;
       
    }

    h1.masInfo{
        display: none;
    }
    div.cont-ultimo{
        width: 100%;
        height: 100%;
        align-items: center;
        margin-left: 0;
        justify-content: space-around;


    }
    p.parrafo_final{
        width: 100%;
        height: 100px;
        font-size: 15px;
    }

    div.contenedor_derecho{
        align-items: center;
        justify-content: center;
    }
    div.imagenes_redesSociales{
        height: 50%;
    }
    div.clase_datos{
        height: 50%;
    }
    span.datos{
        margin-bottom: 4px;
        margin-top: 6px;
    }

    span.tel{
        font-size: 12px;
        padding-bottom: 3px;
        
    }








  }
/* resposive ipad  */
  @media (max-width: 600px) {
    .logo_peque{
        width: 120px;
        height: 80px;
        position: relative;
        left: 120px;
        top:10px
    }

    .contenedor_texto{
        width: 200px;
        height: 280px;
        /* border: 2px solid black; */
        position: relative;
        left: 50px;
        top: 90px;
    }
    .imagen_AXIA{
        display: none;
    }

    .h1_expertos{
        width: 240px;
        font-size: 15px;






  }


  }

  @media (max-width: 841px) {
    .img_daniel{
        width: 130px;
        height: 120px;
        margin-left: 27%;
        margin-right: 5%;
       

    }
    .img_leydy{
        width: 130px;
        height: 120px;
        
   
    }
    .contenedor2{
        align-content: flex-start;
        justify-content: center;
    }
    .parrafo_daniel{
        width: 150px;
        height: 120px;
        margin-left: 50px;
    }
    .parrafo_leydy{
        width: 150px;
        height: 120px;
    }


  }